<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>E-commerce</title>
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>    
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                   <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.tel %></td>
                    </tr> 
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>