<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Desafio 02 - API</title>
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        h1 {
            color: #007bff;
        }

        p {
            font-size: 1.2rem;
            color: #6c757d;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Seja Bem-Vindo</h1>
        <p>Para Criar um usuário, clique no botão abaixo:</p>
        <a href="/resgisterUser">
            <button type="button" class="btn btn-primary">Ir para Cadastro</button>
        </a><br><br>
        <p>Para acessar a página de usuários, clique no botão abaixo:</p>
        <a href="/users">
            <button type="button" class="btn btn-primary">Ir para Usuários</button>
        </a>
        
    </div>
</body>
</html>
