<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 02 - API</title>
</head>
<body>
    <h1>Seja Bem Vindo</h1>
    <p>para acessar a pagina de usuarios, clique no botão abaixo</p>
    <a href="/users">
        <button type="button">Ir para Usuários</button>
    </a>
</body>
</html>